<!DOCTYPE html>
   <head>
		<title>Change Password</title>
   </head>

   <body>
		<h3>Change Password: </h3>
		<p>Please Enter a Password Combination (Either 1 or 2)</p>
		<form id="routeform" onSubmit="route();">
			<input type="number" name="password" id="password"/>
			<input type="button" id="submit" value="Submit"/>
		</form>
		<a href="/">Go Back</a>
	</body>
	<script>
		var submit = document.getElementById('submit');
		submit.addEventListener('click', function() {
			console.log("clicked")
			var password = document.getElementById('password').value;
			var url = window.location.href.concat(password);
			window.location = url;
			console.log(url);
		})
</script>
</html>
